body {
  --slack-color: #3f0f40;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app__body {
  padding: 20px;
  display: flex;
  height: 100vh;
  transition: all .5s ease;
}

. {
    margin-left: 20%;
}