.sidebar {
    color: white;
    position:fixed;
    top: 0vh;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: var(--slack-color);
    border-top: 1px solid #49274b;
    max-width: 280px;
    padding-right: 4px;
    transform: translateX(-100%);
    opacity:0;
    overflow:visible;

    /* position:fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background: lightcyan;
    box-shadow: 2px 2px 50px rgb(204, 200, 200);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0; */
}



.togglesidebar{
    transform: translateX(0%);
    opacity: 1;
}

@media(max-width : 768px){
    .sidebar{
        flex:1;
    }
 
}

.sidebar__header {
    display: flex;
    border-bottom: 1px solid #49274b;
    /* padding-bottom: 10px; */
    padding: 10px;
}

.sidebar__info {
    flex: 1;
}

.sidebar__info>h2 {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}

.sidebar>hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #49274b;
}

.sidebar__info>h3 {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

.sidebar__info>h3>.MuiSvgIcon-root {
    font-size: 14px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 3px;
    color: green;
}